<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script type="text/javascript" src="js/bootstrapbundle.js"></script>
	<script type="text/javascript" src="js/jsencrypt.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="images/dojo_logo.png" height="30" class="d-inline-block align-top" alt="">
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link"  href="/">Mattermost Add</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/emails">Emailer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/grades">Grades <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">

	<form action="/sendgrades" method="POST">
		<div class="form-group">
			<textarea name="data"  class="form-control" placeholder="past csv content here"></textarea>
		</div>
		<div class="form-group row" id="subject_div">
			<label for="subject" class="col-sm-2 col-form-label">Subject Line of Email</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="subject" placeholder="Subject Line" name="subject">
				<p>Note:Defaults to Belt Exam Score!</p>
			</div>
		</div>
		<div class="form-group row" id="belt_div">
			<label for="subject" class="col-sm-2 col-form-label">Belt Selection</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="belt" placeholder="Congratulations on taking the <Word to insert here> qualifying exam" name="belt">
				<p>Note:Defaults to "Congratulations on taking the Belt Qualifying Exam!"</p>
			</div>
		</div>
		<div class="form-group row" id="email_div">
			<label for="inputEmail" class="col-sm-2 col-form-label">Email to send from</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="inputemail" placeholder="email" name="email">
			</div>
		</div>
		<div class="form-group row" id="password_div">
			<label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
			<div class="col-sm-10">
				<input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password">
			</div>
		</div>
		<div class="form-group row" id="instructor_name_div">
			<label for="inputInstructorName" class="col-sm-2 col-form-label">Instructor Name</label>
			<div class="col-sm-10">
				<input type="Instructor Name" class="form-control" id="inputInstructorName" placeholder="Instructor Name" name="name">
			</div>
		</div>
		<input type="submit" id="submitButton">
	</form>
	<p>Note: No email, password, and name will make emails be sent from "Minh Nguyen mnguyen@codingdojo". You may also need to require your email allow outside applications to send emails. All passwords are sent after being encrypted through rsa key. </p>
</div>
</body>
<script type="text/javascript">
	var crypt = new JSEncrypt()
document.getElementsByTagName("form")[0].onsubmit = function(e){
	var publicKey = `<%= publicKey %>`
	crypt.setKey(publicKey)
	var val = document.getElementById('inputPassword').value
  	val = crypt.encrypt(val);
  	document.getElementById('inputPassword').value = val
}
</script>
</html>