<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>

</head>
<body>
    <div class="loader"></div>
    <div class="wrapper">
    <fieldset>
        <legend>Discussion Names</legend>
        <form action="/getDiscussionNames" method="post" id="discussionNames">
            <input type="text" name="date" value="04/02/2018">
            <input type="text" name="url" value="13/2/717">
            <input type="text" name="sheetId" value="15rJn_-UWQWiD2ZE4YiP7MNovobd0F9SwIgM53pZOjjM">
            <input type="text" name="sheetName" value="APRIL 2018 - PY 2">
            <input type="text" name="cell" value="AU5">
            <input type="submit">        
        </form>
    </fieldset>

    <fieldset>
        <legend>Assignments</legend>
        <form action="/getAssignments" method="post" id="getAssignments">
            <input type="text" name="emails" value="tkdurbin@aol.com" id="email_one">
            <input type="text" name="emails" value="todddurbin" id="name1">
            <input type="text" name="emails" value="todd_coles@hotmail.com" id="email_two">
            <input type="text" name="emails" value="toddcoles" id="name2">
            <input type="submit">        
        </form>
    </fieldset>
    <h2>Response Data</h2>
    <textarea name="" id="resData" cols="90" rows="10"></textarea>
    </div>
</body>
<script>

    $("#getAssignments").submit(function(){
        $(".wrapper").addClass("loading")
        $(".loader").addClass("active")
        var url = $(this).attr("action")
        $.post(url,  {"emails[]":[$("#email_one").val(), $("#name1").val(), $("#email_two").val(),$("#name2").val()], "stack":"python"}, function(res){
            console.log(res)
            $("#resData").text(JSON.stringify(res.data))
            $(".loader").removeClass("active")
        })
        return false
    })

    $("#discussionNames").submit(function(){
        $(".loader").addClass("active")
        $(".wrapper").addClass("loading")
        var url = $(this).attr("action")
        $.post(url, $(this).serialize(), function(res){
            console.log(res)
            $("#resData").text(JSON.stringify(res.data))
            $(".loader").removeClass("active")
            $(".wrapper").removeClass("loading")

        })
        return false
    })
</script>
    
    
<style>
    .loader {
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 200px;
        height: 200px;
        animation: spin 2s linear infinite;
        display:none;
    }
    
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
    .active {
        display:block;
        position: absolute;
        left: 25%;
        top: 15%;
    }
    .loading{
        opacity:.25;
    }
</style>
</html>
